.commit{
    width: 1200px;
    padding: 15px;
    position: relative;
    margin: auto;
}
.commit_Title{
    font-size: 25px;
    margin-bottom: 25px;
    display: flex;
    font-weight: bold;
    align-items: center;
}
.commit_detail{
    font-size: 18px;
    
}
/* @media screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
    .commit{
      width: 100%;
      box-sizing: border-box;
    }
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .commit{
      width: 100%;
      box-sizing: border-box;
    }
  } */
  @media screen and (max-device-width: 1200px) {
    .commit{
      width: 100%;
      box-sizing: border-box;
    }
  }